.sidebar {
  width: 200px;
  /* min-width: 150px; */
  background: #09b3ec;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  color: #fff;
  border-radius: 10px;
  box-shadow: 10px 0px 30px 0px #aaa;
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
  border-bottom: 1px solid rgba(163, 11, 11, 0.2);
}
.sidebar .links {
  margin-top: 40px;
  margin-left: 20px;
}
.sidebar .links li {
  margin-top: 10px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}
.sidebar .links img {
  margin-right: 10px;
  filter: invert(100%);
}
.sidebar .links a.active {
  color: rgb(255, 255, 255);
  background: var(--bg-color);
  border-radius: 20px 0 0 20px;
  background-color: black;
}
.sidebar .links .active img {
  filter: invert(40%);
}
